#searchButtonPositioning {
    /*position: relative;
    top: 5.5px;
    left: -5px;*/
    height: 30px;
    width:30px;
    background-color: green;
    border-width: 3px 3px 3px 6px;
    border-color: green;
    border-radius: 0 3px 3px 0;
}

#searchButtonPositioning:hover {
    background-color: #007300;
    border-color: #007300;
    cursor:pointer;
    /*border-left: 6px solid #007300;*/
}


/************  MEDIA QUERIES ************/

@media screen and (min-width: 769px) {
    body {
        /*background: #becddd;*/
        height: 100%;
        /*max-width: 1600px;*/
        margin: 0 auto !important;
        float: none !important;
        /*border-left: 1px solid black;
        border-right: 1px solid black;*/
    }
    #container {
        clear: both;
        float: none;
        margin: 0 auto !important;
        width: 100%;
        min-height: 100%;
    }
    #main {
        margin: 0;
        /*overflow: auto;
        padding-bottom: 50px;*/
    }
    .wdlLogo {
        padding-left: 30px;
        padding-top: 15px;
        padding-bottom: 5px;
        margin-right: 120px;
        /*border: 1px solid red;*/
    }
    .headerContainer {
        width: 100%;
        margin: 0 auto;
    }
    .upperHeaderWrapper {
        background-color: #175aa7;
        /*background-color: #175aa7;*/
        /*background-color:rgba(23, 90, 167, 0.87 );*/
        /*background-color:rgba(23, 90, 167, 0.76 );*/
        /*background-color:rgba(0, 87, 153, 0.6  );*/
        /*background-color:rgba(23, 90, 167, 0.45  );*/
        /*background-color: #14768b;*/
        /*background-color: #009980;*/
        /*background-color:rgba(14, 140, 127, 0.45  );*/
        /*background-color: rgba(98, 48, 70, 0.88);*/
        /*  BLUE GRADIENT */
        background: rgba(43, 159, 237, 1);
        background: -moz-linear-gradient(top, rgba(43, 159, 237, 1) 0%, rgba(23, 90, 167, 1) 72%, rgba(23, 90, 167, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(43, 159, 237, 1)), color-stop(72%, rgba(23, 90, 167, 1)), color-stop(100%, rgba(23, 90, 167, 1)));
        background: -webkit-linear-gradient(top, rgba(43, 159, 237, 1) 0%, rgba(23, 90, 167, 1) 72%, rgba(23, 90, 167, 1) 100%);
        background: -o-linear-gradient(top, rgba(43, 159, 237, 1) 0%, rgba(23, 90, 167, 1) 72%, rgba(23, 90, 167, 1) 100%);
        background: -ms-linear-gradient(top, rgba(43, 159, 237, 1) 0%, rgba(23, 90, 167, 1) 72%, rgba(23, 90, 167, 1) 100%);
        background: linear-gradient(to bottom, rgba(43, 159, 237, 1) 0%, rgba(23, 90, 167, 1) 72%, rgba(23, 90, 167, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b9fed', endColorstr='#175aa7', GradientType=0);
        /*padding-right: 20px;*/
    }
    .upperHeaderContent {
        /*max-width: 1400px;*/
        /*display: block;*/
        max-width: 1250px;
        height: 50px;
        margin: 0 auto;
        padding-bottom: 5px;
        padding-top: 4px;
    }
    .fontAwesomeHeaders {
        padding-right: 15px;
        margin-top: 10px;
        float: right;
        text-align: center;
        text-transform: uppercase;
        font-family: "Helvetica Neue", Arial, sans-serif;
        font-weight: 100;
        letter-spacing: 1.7px;
        /*border: 1px solid red;*/
    }
    .fa-3x {
        color: #dddddd;
        font-size: 2.5em;
    }
    .fa-3x:hover {
        color: #aaaaaa;
    }
    .fontAwesomeHeaderText {
        padding-top: 2px;
    }

    /*  BEGIN DROPDOWN NAVBAR */
    /* SOURCE CREDIT:  Code for dropdown navbar modified from Phil Hoyt's https://codepen.io/philhoyt/pen/ujHzd and Seb Kay's http://inspirationalpixels.com/tutorials/creating-a-dropdown-menu-with-html-css */

  #primary_nav_wrap
  {
  	margin-top:15px
  }

  #primary_nav_wrap ul
  {
  	list-style:none;
  	position:relative;
  	float:left;
  	margin:0;
  	padding:0
  }

  #primary_nav_wrap ul li
  {
  	position:relative;
  	float:left;
  	margin:0;
  	padding:0
  }

  #primary_nav_wrap ul li.current-menu-item
  {
  	background:#ddd;
  }

  #primary_nav_wrap ul li:hover
  {
  	background:#f6f6f6;
  }

  #primary_nav_wrap ul ul
  {
  	display:none;
   z-index: 1000;
  	position:absolute;
  	top:100%;
  	left:0;
  	background:#fff;
  	padding:0
  }

  #primary_nav_wrap ul ul li
  {
  	float:none;
  	/*width:200px*/
  }

  #primary_nav_wrap ul ul a
  {
  	line-height:120%;
  	padding:10px 15px
  }

  #primary_nav_wrap ul ul ul
  {
  	top:0;
  	left:100%
  }

  #primary_nav_wrap ul li:hover > ul
  {
  	display:block
  }
   /*    EXPERIMENTAL DROPDOWN NAV BAR CSS above */
    .clearfix:after {
        display: block;
        clear: both;
    }
    /*.lowerHeaderWrapper */
    .menu-wrap{
        width: 100%;
        margin-top: -40px;
        /*padding-top: 7px;*/
        /*background-color: #244f7a;*/
        /*background-color: #1C6CA6;*/
        /*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);*/
        /*border: 1px solid red;*/
    }
    .lowerHeaderContent {
        /*max-width: 1400px;*/
        max-width: 1250px;
        margin: 0 auto;
        padding-bottom: 40px;
    }
    .menu#primary_nav_wrap {
        /*width: 1000px;*/
        margin-top: 14px;
        margin-left: 15%;
        display: inline-block;
    }
    .menu1 {
        width: 100%;
        height: 50px;
        display: inline-block;
        background-color: #cccccc;
    }
    .menu#primary_nav_wrap li {
        margin: 0px;
        list-style: none;
        /*font-family:'Ek Mukta';*/
    }
    .menu#primary_nav_wrap a {
        transition: all linear 0.15s;
        /* pale grey */
        /*color:#919191;*/
        color: black;
    }
    .menu#primary_nav_wrap li:hover>a, .menu .current-item>a {
        text-decoration: none;
        color: #003366;
    }
    .menu#primary_nav_wrap .arrow {
        font-size: 11px;
        line-height: 0%;
    }
    /*----- Top Level -----*/
    .menu#primary_nav_wrap>ul>li {
        float: left;
        /*display: inline-block;*/
        position: relative;
        font-size: 19px;
    }
    /*  CONTROLS DROPDOWN MENU  */
    .menu#primary_nav_wrap>ul>li>a {
        padding-left: 50px;
        /*display: inline-block;*/
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
        color: black;
        /*font-family: Verdana, Ariel, sans-serif;*/
        font-family: "Helvetica Neue", Verdana, Ariel, sans-serif;
        font-weight: 400;
    }
    .menu#primary_nav_wrap >ul>li:hover>a, .menu>ul>.current-item>a {
        /*background:white;*/
        /*text-decoration: underline;*/
        color: #aaaaaa;
    }
    /*----- Bottom Level -----*/
    .menu#primary_nav_wrap li:hover .sub-menu {
     /* BRINGS SUB-MENUS ABOVE HERO IMAGE*/
        z-index: 1000;
        opacity: 1;
    }
    .sub-menu {
        width: 100%;
        padding: 5px 0px;
        position: absolute;
        top: 100%;
        left: 0px;
        z-index: -1;
        opacity: 0;
        transition: opacity linear 0.15s;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
        /*background:#2e2728;*/
        background: white;
        font-size: 16px;
         border-radius: 5px;
    }
    .sub-menu li {
        display: block;
        border-radius: 5px;
    }
    .sub-menu li a {
        padding: 2px 3px;
        display: block;
        text-decoration: none;
        font-size: 14px;
        border-radius: 5px;
    }
    /*color of sub-menu bars on hover*/
    .sub-menu li a:hover, .sub-menu .current-item a {
        background: #c3c4c7;
        font-weight: bold;
        border-radius: 5px;
        /*font-size: 16px;*/
    }
    /*  END NEW DROPDOWN NAVBAR STYLING*/

 .heroImage{
  /*background-image: url(images/homepage_slider_large/hero_sample.jpg);*/
  width: 100%;
  height:auto;
  background-size: cover;
  background-position: 50% 50%;
 }
    #primary_nav_wrap
    {
    	margin-top:15px
    }

    #primary_nav_wrap ul
    {
    	list-style:none;
    	position:relative;
    	float:left;
    	margin:0;
    	padding:0
    }

    #primary_nav_wrap ul a
    {
    	display:block;
    	color:#333;
    	text-decoration:none;
    	font-weight:700;
    	/*font-size:12px;*/
    	line-height:32px;
    	padding:0 15px;
    	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
    }

    #primary_nav_wrap ul li
    {
    	position:relative;
    	float:left;
    	margin:0;
    	padding:0
    }

    #primary_nav_wrap ul li.current-menu-item
    {
    	background:#ddd
    }

    #primary_nav_wrap ul li:hover
    {
    	background:#f6f6f6
    }

    #primary_nav_wrap ul ul
    {
    	display:none;
    	position:absolute;
    	top:100%;
    	left:0;
    	background:#fff;
    	padding:0
    }

    #primary_nav_wrap ul ul li
    {
    	float:none;
    	/*width:200px*/
    }

    #primary_nav_wrap ul ul a
    {
    	line-height:120%;
    	padding:10px 15px
    }

    #primary_nav_wrap ul ul ul
    {
    	top:0;
    	left:100%
    }

    #primary_nav_wrap ul li:hover > ul
    {
    	display:block
    }
     /***********/

    .mainContentWrapper {
        /*max-width: 1400px;*/
        max-width: 1250px;
        margin: 0 auto;
    }
    .homepageContentContainer {
        color: black;
        background-color: #cccccc;
    }
    /* ----------------------*/
    .blogNewsWrapper {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
    }
    .blogNewsWrapper .blogNewsContentContainer {
        flex: 1;
        display: inline-flex;
        /*width:50%;*/
    }
    .blogNewsContentLeft {
/*  Different margins for left/right content wrappers needed to avoid a center margin that is "double-wide" since using flexbox on a parent element disables margin collapsing for its child elements  */
        margin: 40px 20px 40px 40px;
        background-color: white;
        padding: 50px;
        font-size: 14px;
        line-height: 16px;
    }
    .blogNewsContentRight {
        margin: 40px 40px 40px 20px;
        background-color: white;
        padding: 50px;
        font-size: 14px;
        line-height: 16px;
    }

    a:link.homepageContentHeading {
        background-color: #175aa7;
        padding: 10px;
        color: white;
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
    }
    .homepageContentHeading {
        background-color: #175aa7;
        padding: 10px;
        color: white;
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
    }
    .homepageContentTitle {
        margin:20px 0 20px 0;
        line-height: 25px;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .homepageContentColumn {
        /*float: left;*/
        display: inline-flex;
        width: 46%;
        box-sizing: border-box;
        margin: 40px 15px 40px 25px;
        background-color: white;
        padding: 25px;
        font-size: 14px;
        line-height: 16px;
    }
    .homepageContentText {
        line-height: 20px;
    }
}

#measurementAndAuto {
    padding-right: 10px;
}

#tablets {
    padding-bottom: 20px;
}


.searchDropdownContainer{
 margin:0 auto;
 max-width: 1250px;
 border-color: red;
}

/*********************/
#wrap {
    height: 200px;
    width: 200px;
    border: 1px solid red;
}
#slider {
    overflow-y: hidden;
    max-height: 200px;
    -webkit-transition: all .5s cubic-bezier(0, 1, 0.5, 1);
    transition: all .5s cubic-bezier(0, 1, 0.5, 1);
    background: pink;
    height: inherit;
    width: inherit;
}
#toggle {
    display: none;
}
#toggle + label {
    padding: 1px 6px;
    text-align: center;
    border-radius: 2px;
    background: rgb(221, 221, 221);
    border: 1px outset buttonface;
    margin-bottom: 2px;
    display: inline-block;
    cursor: pointer;
}
/* most important part is here: */
#toggle:not(:checked) ~ #wrap > #slider {
    max-height: 0;
}
/*********************/


/*.searchBoxContainer {
    width: 290px;*/
    /*height: 50px;*/
    /*display:block;
    float: right;
    margin-top: 12px;
    margin-right: 230px;
    border: 1px solid red;*/
    /*position: relative;
            right: 25px;
            left: 70%;
            top: -40px;*/
}

#search {
    width: 250px;
     height: 18px;
     /*margin-left: 725px;*/
    /*border-right: 5px solid green;*/
    border-radius: 3px 0 0 3px;

}

input[placeholder] {
    font-size: 14px;
}

.blackFooterContainer {
    padding-top: 70px;
    padding-left: 50px;
    position: relative;
    top: 28px;
    /*border: 1px solid red;*/
}

.fontAwesomeFooters {
    display: inline-block;
    margin-right: 25px;
    /*border: 1px solid red;*/
}

.facebookWhite {
    /*background-color: white;*/
    display: inline-block;
}

A:link.whiteLink {
    color: white;
}

A:link.whiteLink:hover {
    color: #aaaaaa;
}

A.whiteLink:hover {
    color: #aaaaaa;
}


}

}

/* for tablet devices */
@media screen and (max-width: 1024px) {
    body {
        background: green;
    }
    .extraHomepageImages {
        display: none;
    }
}

/* for mobile devices */

/*  CONSIDER HAVING NO SLIDERS IN PHONE VIEW VIEW */
@media screen and (max-width: 414px) {
    body {
        background: orange;
    }
    .extraHomepageImages {
        display: none;
    }
}

/******************************************/
BODY {
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: white;
    FONT-SIZE: 11px;
    BORDER-TOP: medium none;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: medium none
}
TABLE {
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: white;
    FONT-SIZE: 11px;
    BORDER-TOP: medium none;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: medium none
}
TD {
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: white;
    FONT-SIZE: 11px;
    BORDER-TOP: medium none;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: medium none
}
TH {
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: white;
    FONT-SIZE: 11px;
    BORDER-TOP: medium none;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: medium none
}
IMG {
    BORDER-BOTTOM: white 0px solid;
    BORDER-LEFT: white 0px solid;
    BORDER-TOP: white 0px solid;
    BORDER-RIGHT: white 0px solid
}
A:link {
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 11px;
    BORDER-TOP: medium none;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: medium none;
    text-decoration:none;
}
A:active {
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 11px;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bolder;
    BORDER-RIGHT: medium none;
    text-decoration: none;
}
A:visited {
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    /*COLOR: #036;*/
    FONT-SIZE: 11px;
    BORDER-TOP: medium none;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: medium none
}
A:hover {
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #0070b2;
    FONT-SIZE: 11px;
    BORDER-TOP: medium none;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: medium none
}
.bodytext {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal
}
.creditapptitle {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 13px;
    FONT-WEIGHT: normal
}
.greytext {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #a9a9a9;
    FONT-SIZE: 9px;
    FONT-WEIGHT: normal
}
.priceheader {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #06c;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold
}
.checkoutbold {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #03c;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}
A.checkoutbold:link {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #03c;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A.checkoutbold:active {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #03c;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A.checkoutbold:visited {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #03c;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A.checkoutbold:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #03c;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}
.checkoutbold2 {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}
A.checkoutbold2:link {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}
A.checkoutbold2:active {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}
A.checkoutbold2:visited {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}
A.checkoutbold2:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #03c;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}
.checkoutbold_white {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #fff;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}
.checkoutbold_white_ul {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #fff;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}
.helvbold {
    FONT-FAMILY: Verdana, Arial, sans-serif, Arial, "75 Helvetica Bold", Geneva, Swiss, SunSans-Regular, Arial, Helvetica, Geneva, Swiss, SunSans-Regular, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    COLOR: #003;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}
.morelink2 {
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #06c;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A.morelink2:link {
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #06c;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A.morelink2:active {
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #06c;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A.morelink2:visited {
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #06c;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}
A.morelink2:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}
.morelink {
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #06c;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A.morelink:link {
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #06c;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}
A.morelink:active {
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #06c;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}
A.morelink:visited {
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #06c;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}
A.morelink:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}
.bluebullets {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #036;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bolder
}
.headertitle {
    TEXT-ALIGN: left;
    LETTER-SPACING: 1px;
    FONT-FAMILY: Verdana, Arial, sans-serif, FontName;
    COLOR: white;
    FONT-SIZE: 12px
}
A.headertitle:link {
    TEXT-ALIGN: left;
    LETTER-SPACING: 1px;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: white;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
A.headertitle:active {
    TEXT-ALIGN: left;
    LETTER-SPACING: 1px;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: white;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
A.headertitle:visited {
    TEXT-ALIGN: left;
    LETTER-SPACING: 1px;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: white;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
A.headertitle:hover {
    TEXT-ALIGN: left;
    LETTER-SPACING: 1px;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #9cf;
    FONT-SIZE: 12px
}
.vendortitle {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: black;
    FONT-SIZE: 25px;
    font-weight: lighter;
    TEXT-DECORATION: none;
    float:left;
    padding-left: 30px;
    padding-top: 30px;
}
.manufact_logo_wrapper {
    /* PREVIOUS METHOD */
    /*float: left;
   margin-left: 40px;
   margin-right: 20px;*/
    text-align: center;
    margin-top: 60px;
}
.logos {
    /* PREVIOUS METHOD */
    /*display: flex;
   align-items: center;
   height:150px;
   float: left;
   margin-left: 10px;
   margin-right: 10px;*/
    display: inline-block;
    width: 200px;
    height: 150px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -90px;
}
.aisletitle {
    TEXT-TRANSFORM: uppercase;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}
.alsoconsider {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #06c;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}
.white_small_text {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: white;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal
}
.wishlist {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #808080;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.wishlist:link {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #808080;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.wishlist:active {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #808080;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.wishlist:visited {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #069;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.wishlist:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #036;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
.bodytext_bold {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}
A.bodytext_bold:link {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}
A.bodytext_bold:active {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}
A.bodytext_bold:visited {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}
A.bodytext_bold:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #036;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}
.bodytext_ul {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}
A.bodytext_ul:link {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #069;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}
A.bodytext_ul:active {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #069;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}
A.bodytext_ul:visited {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #808080;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}
A.bodytext_ul:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #036;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}
.checkoutsmall {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal
}
A.checkoutsmall:link {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #069;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.checkoutsmall:active {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #069;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.checkoutsmall:visited {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #4682b4;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.checkoutsmall:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #036;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
.bodytextsmall {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal
}
A.bodytextsmall:link {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #069;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.bodytextsmall:active {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #069;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.bodytextsmall:visited {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #808080;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal
}
A.bodytextsmall:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #036;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}
.toppage {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal
}
A.toppage:link {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.toppage:active {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.toppage:visited {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.toppage:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #036;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.product:link {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.product:active {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bolder;
    TEXT-DECORATION: none
}
A.product:visited {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #069;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.product:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #069;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}
.product {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #003;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.footer:link {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #bee;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.footer:active {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #bee;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bolder;
    TEXT-DECORATION: none
}
A.footer:visited {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #dddddd;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.footer:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #0cf;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline;
}
.footer {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    background-color: #2f353b;
    COLOR: white;
    FONT-SIZE: 12px;
    line-height: 150%;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.vendor:link {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #066;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.vendor:active {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #066;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.vendor:visited {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #099;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.vendor:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #099;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline;
}
.vendor {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #066;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.prodbar2:link {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    HEIGHT: 13px;
    COLOR: #fff;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    WORD-SPACING: -1px;
    TEXT-DECORATION: none;
}
A.prodbar2:active {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    HEIGHT: 13px;
    COLOR: #fff;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    WORD-SPACING: -1px;
    TEXT-DECORATION: none;
}
A.prodbar2:visited {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    HEIGHT: 13px;
    COLOR: #0cf;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    WORD-SPACING: -1px;
    TEXT-DECORATION: none;
}
A.prodbar2:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    HEIGHT: 13px;
    COLOR: #fff;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    WORD-SPACING: -1px;
    TEXT-DECORATION: underline;
}
A.prodbar:link {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #fff;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.prodbar:active {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #fff;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.prodbar:visited {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #0cf;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.prodbar:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #fff;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline;
}
A.textlink:link {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #9f9f9f;
    COLOR: white;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.textlink:active {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #9f9f9f;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bolder;
    TEXT-DECORATION: none;
}
A.textlink:visited {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: white;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.textlink:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #aaaaaa;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
.textlink {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #9f9f9f;
    FONT-SIZE: 9px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.sublink:link {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #eee;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.sublink:active {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #eee;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bolder;
    TEXT-DECORATION: none;
}
A.sublink:visited {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #eee;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.sublink:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #afeeee;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
.sublink {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #fff;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.sublinkdark:link {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #036;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.sublinkdark:active {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #036;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bolder;
    TEXT-DECORATION: none;
}
A.sublinkdark:visited {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #036;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.sublinkdark:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #069;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
.sublinkdark {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #036;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.dottedlink:link {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #fff;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.dottedlink:active {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #fff;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.dottedlink:visited {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #0cf;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.dottedlink:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #0cf;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline;
}
A.textboldnolink:link {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #fff;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}
A.textboldnolink:active {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #0cf;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A.textboldnolink:visited {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #0cf;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}
A.textboldnolink:hover {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #fff;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline;
}
.smalltextnolink {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #036;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
.smallgraytext {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #fff;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}
.greytitle {
    FONT-FAMILY: Verdana, Arial, sans-serif;
    COLOR: #036;
    FONT-SIZE: 14px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
a.info {
    position: relative;
    /*this is the key*/
    z-index: 14;
    background-color: #ffffff;
    color: #000;
    text-decoration: none;
}
a.info:hover {
    z-index: 15;
    background-color: #ff0;
}
a.info span {
    display: none;
}
a.info:hover span {
    /*the span will display just on :hover state*/
    display: block;
    position: absolute;
    top: auto;
    left: auto;
    width: auto;
    border: 1px solid #036;
    background-color: #ffffff;
    color: #000;
    text-align: center;
}
