
.mainFoucs{
 overflow:hidden;
 zoom:1;
 position: relative;
}
.mainFoucs a,
.mainFoucs body,
.mainFoucs div,
.mainFoucs html,
.mainFoucs img,
.mainFoucs li,
.mainFoucs ul {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
.mainFoucs html,
.mainFoucs body { height: 100%; }
.mainFoucs img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
.mainFoucs ol, .mainFoucs
ul { list-style: none; }
.mainFoucs

li { display: list-item; }
.mainFoucs

body { min-width: 960px; }
.mainFoucs

.clearfix:before, .mainFoucs
.clearfix:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.mainFoucs

.clearfix:after { clear: both; }
.mainFoucs

.clearfix { zoom: 1; }
.mainFoucs

.icon-arrow-a-left, .mainFoucs
.icon-arrow-a-right { background: url(../images/icon-sd26986d847.png) no-repeat; }
.mainFoucs

.icon-arrow-a-left {
  background-position: 0 0;
  height: 50px;
  width: 50px;
}
.mainFoucs

.icon-arrow-a-left:hover, .mainFoucs
.icon-arrow-a-left.arrow-a-left_hover, .mainFoucs
.icon-arrow-a-left.arrow-a-left-hover { background-position: -60px 0; }
.mainFoucs

.icon-arrow-a-right {
  background-position: -120px 0;
  height: 50px;
  width: 50px;
}
.mainFoucs

.icon-arrow-a-right:hover, .mainFoucs
.icon-arrow-a-right.arrow-a-right_hover, .mainFoucs
.icon-arrow-a-right.arrow-a-right-hover { background-position: -180px 0; }
.mainFoucs

html, .mainFoucs
body {
  background: #fff;
  font: 12px/1.5 tahoma, .mainFoucs helvetica, .mainFoucs arial, .mainFoucs \5b8b\4f53, .mainFoucs sans-serif;
}
.mainFoucs

* html, .mainFoucs
* html body {
  background-image: url(about:blank);
  background-attachment: fixed;
  zoom: 1;
}
.mainFoucs

a {
  color: #262626;
  text-decoration: none;
}
.mainFoucs

a:hover {
  color: #FF4503;
  text-decoration: underline;
}
.mainFoucs

#main {
 /*overflow must be commented out or else the dropdowns are hidden by the foucs slider*/
  /*overflow: hidden;*/
  zoom: 1;
  position: relative;
}
.mainFoucs

#mainFoucs{
overflow: hidden;
}
.mainFoucs

#index_b_hero {
  width: 960px;
  height: 410px;
  margin: auto;
  position: relative;
}
.mainFoucs

#index_b_hero img {
  width: 960px;
  height: 410px;
}
.mainFoucs

#index_b_hero .heros {
  width: 960px;
  height: 410px;
}
.mainFoucs

#index_b_hero .hero-wrap {
  overflow: visible;
  position: absolute;
}
.mainFoucs

#index_b_hero .next, .mainFoucs
#index_b_hero .prev {
  filter: alpha(Opacity=70);
  opacity: .7;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  margin-left: 5px;
  background-color: #303030;
  z-index: 3;
}
.mainFoucs

#index_b_hero .next:hover, .mainFoucs
#index_b_hero .prev:hover { background-color: black; }
.mainFoucs

#index_b_hero .next {
  margin: -25px 5px 0 0;
  right: 0;
}
.mainFoucs

#index_b_hero .disabled { background-color: #eee; }
.mainFoucs

#index_b_hero .mask-left,
#index_b_hero .mask-right,
#index_b_hero .hero {
  background: #fff;
  padding: 5px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 950px;
  height: 400px;
  overflow: hidden;
  left: 1920px;
}
.mainFoucs

#index_b_hero .mask-right, .mainFoucs
#index_b_hero .mask-left {
  z-index: 4;
  left: -960px;
  filter: alpha(Opacity=50);
  opacity: .8;
  background: #fff;
  overflow: hidden;
}
.mainFoucs

#index_b_hero .mask-right { left: 960px; }
.mainFoucs

#index_b_hero .active {
  z-index: 2;
  left: 0;
}
